<!-- Page header with logo and tagline-->
<header class="py-5 border-bottom mb-4 cabbage-top" style="background: url(<%= asset_path('cabbage.jpeg')%>);">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">キャベツの千切りをしている最中に思いついたブログです</h1>
            <p class="lead mb-0">プログラミングの学習のアウトプットを目的として作成しました</p>
        </div>
    </div>
</header>
<!-- Page content-->
<%# <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <% if @articles[0].present? %>
              <% article = @articles[0] %>
              <%= render 'articletitle', article: @articles[0] %>
            <% end %>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <% if @articles[1].present? %>
                      <%= render 'articletitle', article: @articles[1] %>
                    <% end %>
                    <!-- Blog post-->
                    <% if @articles[3].present? %>
                      <%= render 'articletitle', article: @articles[3] %>
                    <% end %>
                </div>
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <% if @articles[2].present? %>
                      <%= render 'articletitle', article: @articles[2] %>
                    <% end %>
                    <!-- Blog post-->
                    <% if @articles[4].present? %>
                      <%= render 'articletitle', article: @articles[4] %>
                    <% end %>
                </div>
            </div>
            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                </ul>
            </nav>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">タイトル検索</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">タグ検索</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                              <% @tags.each do |tag|%>
                                <% if tag.id % 2 == 1%>
                                <li><a href="#!"><%= tag.tag_name %></a></li>
                                <% end %>
                              <% end %>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <% @tags.each do |tag|%>
                                <% if tag.id % 2 == 0%>
                                <li><a href="#!"><%= tag.tag_name %></a></li>
                                <% end %>
                              <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">追加機能</div>
                <div class="card-body">未定、広告などを予定</div>
            </div>
        </div>
    </div>
</div>